h1 {
  color: #fff;
  text-align: center;
}

.activitiesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 75px;
  margin-right: 75px;
}
.activitiesItem {
  background-color: #24a068;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
}
.activitiesItem-buttons > h3 {
  display: inline;
  margin: 20px;
}
.activitie-button-container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.activitie-button {
  color: white;
  padding: 12px 80px;
  border-radius: 20px;
  background: #24a068;
  transition: background 0.3s ease;
  text-decoration: none;
  border: none;
  text-align: center;
}

.activitie-button:hover {
  background: #1bcb7f;
  color: white;
  cursor: pointer;
}
