h1 {
  color: #fff;
  text-align: center;
}

.activitiesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 75px;
  margin-right: 75px;
}
.activitiesItem {
  background-color: #24a068;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
}
.activitiesItem-buttons > h3 {
  display: inline;
  margin: 20px;
}
